# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env.*.local
.env
.env.local

# Vscode local history (and git)
.history
.git
API/helpers/testData/finalFiles
API/helpers/testData/tokens
test_output
.vscode/

